<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/works.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,100italic,300italic" rel="stylesheet">
</head>
<body>


  <div id="app" >
    <div :class="{wrap:true, loading: loading}">
      <div class="loading" v-if="loading">
        <img src="https://cdn.dribbble.com/users/563824/screenshots/3306683/untitled-6-110.gif" alt="">
      </div>
      <div v-else>
        <h1>All works from the world</h1>
        <div class="flex work-wrap flex-wrap" >
          <div class="each-work flex flex-column align-center" v-for="(i, index) in allWorks" :key="i.id">
              <img :src="i.imgCode" alt="i.username">
              <div class="flex align-center justify-center">
                <div>
                    {{i.username}}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
h1{
  text-align: center;
      font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  display: block;
margin-bottom: 5px;
line-height: normal;
text-transform: uppercase;
    font-weight: 100;
}
.flex-wrap{
      margin-left: 82px;
}
</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="./js/API.js" type="module"></script>
  <script src="./js/works.js" type="module"></script>
</body>
</html>
